@font-face {
    font-family: 'Kavoon'; /* El nombre con el que referenciarás la fuente */
    src: url('/HTML/PROYECTO/Fonts/Kavoon-Regular.ttf') format('truetype'); /* Usa 'truetype' en lugar de 'ttf' */
    font-weight: normal;  /* Puedes especificar diferentes pesos si es necesario */
    font-style: normal;   /* Estilo normal o itálico si la fuente lo tiene */
}

  
.titulo-categoria {
    color: rgb(228, 213, 213);
    font-family: 'Lucida Sans'; 
    background-color: cornflowerblue;
    width: 30%;
    font-size: 24px;
    text-align: center;
}

.conciertos {
    width: calc(100% - 40px); /* Ajusta el ancho restando el margen */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: groove;
    margin: 20px;
    padding-top: 20px;
}

.concert-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.imagen-concierto > img {
    width: 100%;
    height: 220px;
}


.informacionconcierto {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    text-align: left;
}

a {
    text-decoration: none;
}

body {
    background-color: #C9EFFB;
}

.presentacion {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bloque-presentacion {
    width: 45%;
    height: 500px;
    padding-left: 30px;
    padding-top: 30px;
}


.artistafoto {
    width: 55%;
    height: 400px;
    padding: 30px;
}

.artistafoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-color: #000;
    border-style: groove;
}

.ubicacion {
    width: 45%;
    height: 550px;
    padding-left: 30px;
    background-color: darkgrey;
}

.nombreartista{
    color: #0A1A4E;
    text-align: justify;
    font-family: 'Trebuchet MS';
    font-size: 30px;
}
.nombreartista h1{
    text-align: center;
    margin: 0 0 0 0;
}

.detallesevento {
    color: #0A1A4E;
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

.descripcionartista{
    color: #0A1A4E;
    font-family: 'Trebuchet MS';
    font-size: 16px;
}

.ubicacion-precios-musica {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mapa {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.precios-musica {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.descripcion-text {
    text-align: justify;
}

.reproductor {
    padding: 30px;
}

.precios {
    text-align: justify;
    margin-right: 30px;
}

h2 {
    padding: 0px 0px 0px 20px;
}

li {
    padding: 10px 10px 10px 20px;
}

.categorias {
    margin: 20px;
    background-color: dimgray;
    padding: 10px 10px 10px 40px;
    font-family:'Trebuchet MS';
    font-size: 20px;
}

.logo-pagina {
    display: flex;
    flex-direction: row;
}

img {
    width: 60px;
    height: 54.5px;
}

.logo-pagina > h1 {
    width: 260px;
    height: 44.5px;
    background-color: white;
    margin: 0%;
    text-align: start;
    padding-top: 10px;
    color:#0A1A4E;
    font-family: 'Kavoon';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}